body {
    background-color: black;
}

div {
    position: relative;
    display: flex;
    left: 40%;
    margin-top: 10%;
    width: 30%;
    height: 50%;
    z-index: 10;
}

#radioButtons {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50%;
    height: 50%;
    z-index: 5;
}

img {
    border-radius: 50%;
    border: 10px solid salmon;
    transition: 1s;
}

img:hover {
    transform: scale(1.5) translateY(5%);
    border-radius: 0;
    border: 5px solid brown;
}