body {
    display: flex;
    background-color: navy;
}

.abecedario {
    display: flex;
    align-items: center;
}

.letra {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    background-color: salmon;
    border: solid 1px black;
    border-radius: 50%;
    margin: 5px;
    padding: 5px;
}
/*
.letra:hover {
    background-color: red;
}
*/